<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register machine</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="mainContainer">

  <section class="container">

    <section class="taskHeaderSection">
      <ion-label class="lblTask">Machine details</ion-label>
    </section>

    <ion-card class="baseDetailcard">
      <ion-item class="inputItem">
        <ion-label position="floating">Company id</ion-label>
        <ion-input class="input" [value]="client_id" readonly></ion-input>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label position="floating">Company name</ion-label>
        <ion-input class="input" [value]="client_name" readonly></ion-input>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label position="floating">Branch id</ion-label>
        <ion-input class="input" [value]="branch_id" readonly></ion-input>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label position="floating">Branch name</ion-label>
        <ion-input class="input" [value]="branch_name" readonly></ion-input>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label position="floating">Machine Id</ion-label>
        <ion-input placeholder="Enter machine id" class="input" autofocus="true" [(ngModel)]="machine_id"></ion-input>
      </ion-item>
      <ion-item class="inputItem">
        <ion-label position="floating">Stock capacity</ion-label>
        <ion-input placeholder="Enter stock capacity" class="input" type="number" [(ngModel)]="capacity"></ion-input>
      </ion-item>
    </ion-card>

    <section class="btnContainer">
      <ion-button shape="round" class="btnSubmit" (click)="register()">Register</ion-button>
    </section>


  </section>

</ion-content>
