.mainContainer{
    --background: #EFF2F5;
}

.icInfoStatusbar{
    font-size: 22px;
}

.branchContainer {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.lblBranches{
    font-size: 16px;
}

.instruction1{
    font-size: 12px;
    color: rgb(177, 177, 177);
    margin-bottom: 10px !important;
}

.info{
    font-size: 18px;
}

.branchCard{
    padding: 10px;
    margin: 0px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-image: url(../../../assets/img/bg2.png);
    background-size: contain;
    background-color: #ffffff;
    position: relative;
}

.icBranchEdit{
    //position: absolute;
    //top: 10px;
    //right: 10px;
    color: var(--ion-color-primary);
    margin-left: 20px;
}

.lblBranchName{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.lblAddressHeader{
    font-weight: bold;
    color: rgb(97, 96, 96);
}

.lblAddress{
    color: rgb(170, 170, 170);
}

.machineControllContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btnMachine{
    width: 40%;
    font-size: 14px;
    text-transform: none;
    --padding-end: 15px;
    --padding-start: 15px;
    margin-left: 20px;
}

.lblAddNewBranch{
    width: 100%;
    margin-top: 10px;
    color: var(--ion-color-primary);
    text-align: right;
}
